* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @include xl {
    font-size: 14px;
  }
  @include lg {
    font-size: 11px;
  }
}

body {
  margin: 0;
  padding: 0;
  &.closed {
    height: 100%;
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}

.section {
  height: 100vh;
  &_flex {
    display: flex;
    flex-direction: column;
  }
  @include xl {
    height: max-content
  }
}

.container {
  max-width: 80rem;
  width: 98%;
  margin: 0 auto;
}

.hero {
  background-color: rgba(53, 117, 184, 0.13);
  position: relative;
  display: flex;
  flex-direction: column;
  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &__title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.625rem;
    font-weight: 600;
    color: #395287;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  }
  &__content {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.header {
  padding-top: 3.5625rem;
  &__content {
    display: flex;
  }
  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__contacts {
    display: flex;
    justify-content: flex-end;
    @include md {
      display: none;
    }
  }
  &__links {
    display: flex;
    justify-content: flex-end;
  }
}

.contact-link {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 127px;
  &:last-child {
    margin-right: 0;
  }
  &__icon {
    margin-right: 9px;
  }
  @include md {
    margin-right: 20px;
  }
}

.nav-link {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  margin-right: 2.3rem;
  @include xl {
    font-size: 24px;
  }
  @include lg {
    font-size: 22px;
  }
  @include md {
    display: none;
  }
  &:nth-child(5) {
    margin-right: 0;
  }
  &:first-child {
    color: $primary;
    @include xl {
      color: #ffffff;
    }
  }
  &:nth-child(2) {
    color: $primary;
    @include xxl {
      color: #ffffff;
    }
  }
  &:nth-child(3) {
    color: $primary;
    @include xxl {
      color: #ffffff;
    }
  }
}

.main {
  &-title {
    font-family: sans-serif;
    font-size: 2.625rem;
    color: #335727;
  }
  &-content {
    display: flex;
    align-items: center;
  }
}

.feachers {
  font-family: sans-serif;
  color: #112047;
  font-size: 2.5rem;
  white-space: nowrap;
}

.scroll-btn {
  display: block;
  cursor: pointer;
  margin: auto auto 15px;
  width: max-content;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &-title {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #335727;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  &__logo {
    margin-bottom: 52px;
  }
  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2.625rem;
    @include md {
      margin-right: 0;
      width: 100%;
    }
    & .button {
      margin-left: 1.5rem;
      @include md {
        display: block;
        width: 98%;
        margin: 25px auto;
      }
    }
    & img {
      @include md {
        display: none;
      }
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    @include md {
      flex-direction: column-reverse;
    }
  }
  &__text-line {
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
    @include lg {
      font-size: 12px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    margin-right: 12px;
    flex-shrink: 0;
  }
}

.button {
  color: #ffffff;
  background-color: #3575B8;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 16px 33px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  &:active {
    opacity: .5;
  }
  &_big {
    font-size: 1.875rem;
    padding: 23px 40px;
  }
}

.services {
  background-color: #E5EDF6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &-title {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #2E4580;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      width: 33.33%;
      position: relative;
      @include md {
        width: 100%;
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &__text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.42);
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2.25rem;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__description {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    @include xxl {
      justify-content: space-between;
    }
    &__item {
      width: 305px;
      height: 208px;
      margin-right: 20px;
      margin-bottom: 12px;
      background: #E5EDF6;
      &:nth-child(4n+4) {
        margin-right: 0;
      }
      @include xxl {
        width: 24%;
        margin-right: 0;
      }
      @include md {
        width: 49%;
      }
      @include xs {
        width: 100%;
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.promo {
  background-image: url('../images/promo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include xl {
    min-height: 500px;
  }
  &__title {
    text-align: center;
    width: max-content;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    @include xl {
      margin: 0 auto;
    }
  }
  & .button {
    margin-left: 15px;
    @include xl {
      display: block;
      margin: 0 auto;
    }
  }
}

.footer {
  flex: 1;
  display: flex;
  @include xl {
    height: 500px;
  }
  @include md {
    flex-direction: column-reverse;
  }
  & .contacts {
    height: 100%;
    width: 33%;
    padding-left: 45px;
    @include xl {
      height: 500px;
      width: 45%;
      padding-left: 30px;
    }
    @include md {
      width: 100%;
    }
  }
  &-link__icon {
    margin-right: 40px;
  }
}

.contacts {
  background: linear-gradient(222.54deg, rgba(59, 93, 165, 0.65) 5.8%, #4D7141 107.33%);
  display: flex;
  justify-content: center;
  & a {
    font-family: sans-serif;
    margin-right: 50px;
    white-space: nowrap;
  }
  &__content  {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
  }
  &__title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #112047;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  }
}

.map {
  flex: 1;
  height: 100%;
  @include xl {
    height: 500px;
  }
  @include md {
    width: 100%;
    height: 500px;
    flex: auto;
  }
}

.ymap-container {
  height: 100%;

}

.burger {
  display: none;
  @include md {
    display: block;
  }
}